spring:
  application:
    name: ${SPRING_APPLICATION_NAME}

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: create-drop
    defer-datasource-initialization: true

  sql:
    init:
      mode: always

  app:
    secret: ${JWT_SECRET}
    expiration: ${JWT_EXPIRATION}

server:
  servlet:
    context-path: ${SERVER_CONTEXT_PATH}
