spring:
  application:
    name: ${SPRING_APPLICATION_NAME}

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: create-drop

  app:
    secret-key: ${JWT_SECRET}
    expiration: ${JWT_EXPIRATION}
    refreshtoken: ${JWT_REFRESH_TOKEN}

server:
  servlet:
    context-path: /api/v1


  stripe:
    secret:
      key: ${STRIPE_KEY}

    webhook:
      secret: ${WEBHOOK_SECRET}




  frontend:
    url: http://localhost:8080





management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
