spring:
  application:
    name: ${SPRING_APPLICATION_NAME}

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: create-drop

  app:
    secret: ${JWT_SECRET}
    expiration: ${JWT_EXPIRATION}
    refreshtoken: ${JWT_REFRESH_TOKEN}

server:
  servlet:
    context-path: ${SERVER_CONTEXT_PATH}
