spring:
  application:
    name: BookingSystem

  datasource:
    url: jdbc:postgresql://localhost:5432/HotelDB
    username: postgres
    password: 456784

  jpa:
    hibernate:
      ddl-auto: create-drop
    defer-datasource-initialization: true
  sql:
    init:
      mode: always

server:
  servlet:
    context-path: /api/v1